*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, #1b222d 6%, #1b222d 70%);
  color: #ffffff;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, span::selection, div::selection, a::selection, br::selection {
  background: #4e77f9;
  color: #1b222d;
}

a {
  text-decoration: none;
  color: #212529;
}

.menu {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

@media screen and (max-width: 1110px) {
  .menu {
    padding-left: 20px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    margin-top: 20px;
  }
}

@media screen and (min-width: 859px) and (max-width: 1110px) {
  .menu {
    padding-right: 10px;
  }
}

.logo_flex {
  display: inline-flex;
}

.logo_nav {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 0;
  margin-bottom: 0;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 0px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #4e77f9;
  font-weight: 650;
}

.menu_items li a:hover,
a.active {
  border-radius: 3px;
  transition: 0.3s;
  text-decoration-color: currentColor;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
  text-underline-position: under;
}

.menu_items li a.active {
  color: #ffffff;
}

.btn_menu {
  margin-right: 20px;
  font-size: 28px;
  color: #1b222d;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #c2c2c3;
    top: -100vh;
    text-align: center;
    transition: all 0.3s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .menu_items li a:hover {
    color: aqua;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
    line-height: 30px;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

.bg-navbar {
  background-color: rgb(8, 83, 112);
}

/* P O R T A D A */
.contenedor_web {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 190px;
  margin-top: 95px;
}
.portada {
  display: flex;
  flex-wrap: wrap;
}

.portada_65 {
  flex: 0 0 auto;
  width: 70%;
}

.portada_35 {
  flex: 0 0 auto;
  width: 30%;
  margin-top: 8px;
}

.font_portada {
  font-weight: 700;
  font-size: 68px;
  line-height: 71px;
  letter-spacing: -3px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
}

.descripcion_sub {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 27px;
  line-height: 27px;
  padding-right: 20px;
  letter-spacing: -0.4px;
}

.text-span-31 {
  background-image: url(/linea-texto.jpg);
  background-position: 50% 95%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.descripcion {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  padding-right: 40px;
}

button.boton_1 {
  padding: 20px 25px;
  border-radius: 6px;
  background: #4e77f9;
  transition: box-shadow 350ms ease, transform 350ms ease,
    -webkit-transform 350ms ease;
  color: #ffffff;
  font-size: 21px;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.15s;
  border: none;
}

button.boton_1:hover {
  cursor: pointer;
  transform: scale(1.025);
  
}

.link {
  text-decoration: none;
  color: #fff;
  color: white!important;
}

.linea {
  margin-top: 20px;
  height: 9px;
  width: 74px;
  background-color: #4e77f9;
}

@media screen and (max-width: 1110px) {
  .contenedor_web {
    padding-left: 20px;
  }
}

@media screen and (max-width: 858px) {
  .contenedor_web {
    margin-top: 65px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 858px) {
  .portada {
    display: block;
  }
  .portada_65 {
    width: 100%;
  }
  .portada_35 {
    width: 100%;
    padding-top: 25px;
    padding-right: 20px;
  }
  .font_portada {
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 55px;
  }
}

@media screen and (max-width: 400px) {
  .contenedor_web {
    margin-top: 50px;
  }
  .portada_35 {
    width: 100%;
    padding-top: 25px;
    padding-right: 20px;
  }
  .font_portada {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 45px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1129px) {
  .glider-track {
    width: 1284px !important;
  }
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .glider-track {
    width: 1190px !important;
  }
}

.subtitulos {
  font-size: 41px;
  margin-bottom: 22px;
  font-weight: bold;
  letter-spacing: -1px;
}

@media screen and (max-width: 400px) {
.subtitulos {
  font-size: 37px;
  letter-spacing: -1.5px;
 }
}

/* S E R V I C I O S */

.contenedor_servicios {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #000;
  opacity: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 0 0 1px rgb(127 127 127 / 5%), 0 2px 5px rgb(127 127 127 / 50%);
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
  width: 40px;
  height: 40px;
}

.carousel__anterior {
  left: 27px;
  z-index: 20;
}

.carousel__siguiente {
  right: 27px;
}

.carousel__lita {
  overflow: hidden;
}

@media screen and (min-width: 1089px) {
  .carousel__anterior,
  .carousel__siguiente {
    display: none;
  }
}

.elemento__artista {
  width: 247px;
  height: 325px;
  display: block;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #263040;
  box-shadow: -11px 11px 16px rgb(0 0 0 / 3%);
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.carousel__a {
  width: 100%;
  margin: auto;
  margin-top: 120px;
}

@media screen and (max-width: 700px) {
  .sub_contenedor {
    margin-left: -16px;
  }
}

.caja_servicio {
  padding: 19px;
}

.titulo_servicio {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.parrafo_servicio {
  margin-top: 10px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16.5px;
}

/* M E N U - M O B I L E */


.headermenumobile{
  height:70px;
  padding:2px;
}

.menuburger img{
  width: 39px;
  cursor: pointer;
}

.menuburger_x img{
  width: 38px;
  cursor: pointer;
}

.menuhilang{
  display: none;
}
.menumuncul{
  display: block;
}

.menumobile{
  text-align: center;
  text-decoration: none;
  background-color: #263040;
  position: fixed;
  top: 27px;
  right: 18px;
  bottom: 0;
  width: 321px;
  height: 398px;
  z-index: 9;
  display: none;
  border-radius: 18px;
}

.menumobile a{
  text-decoration: none;
  color:#4e77f9;
  font-size: 27px;
  line-height: 27px;
  padding:12px 0px;
  display: block;
  opacity:1;
  font-weight: 600;
}

.menumobile a.active{
  opacity:1;
  color:#ffffff;
}

.positionmenu{
  margin-top: 10px;
  text-align: left;
  padding-left: 60px;
}


@media only screen and (max-width: 858px) {
  .menuhilang{
      display: block;
      padding-right: 20px;
  }
  .menumuncul{
      display: none;
  }

  .headerarea{
      height:70px;
      padding:20px;
  }
}

.logoplacement {
  float: left;
}

.logo_mobile {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  margin-top: 4px;
}

.menuburger {
  float: right;
  margin-top: 4px;
}

.menuburger_x {
  float: right;
  margin-top: 6px;
  margin-right: 5px;
}

/* P O R T A F O L I O */

.contenedor_portafolio {
  background-color: #1b222d;
  width: 100%;
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .contenedor_portafolio {
    padding: 20px;
 }
}

.portafolio_titulo {
  color: #ffffff;
  font-size: 41px;
  margin-bottom: 27px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  margin-top: 20px;
}

.flex_portafolio {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.previewimage {
  padding: 10px;
}

.previewimage video {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.backgroundinteraction1 img {
  max-width: -webkit-fill-available;
  border-radius: 6px;
}

/* B L O G - P A G E */

.contenedor_blog {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 190px;
  margin-top: 53px;
}

.blog_titulo {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 70px;
}

@media only screen and (max-width: 991px) {
.row_margenes {
  margin: 0px 10px 0px 10px;
 }
}

.articulos_ {
  padding: 0px 20px 51px 20px;
}

@media only screen and (max-width: 991px) {
  .articulos_ {
    padding: 0px 20px 36px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .articulos_ {
    padding: 0px 20px 55px 20px;
  }
}


.img_articulo_1 {
  display: flex;
  width: 100%;
  height: 353px;
}

@media only screen and (max-width: 414px) {
  .img_articulo_1 {
    height: 200px;
  }
}

.img_articulo_1 img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.articulo_1_titulo {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 0;
  color: #ffffff;
}

.articulo_1_subtitulo {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.articulo_1_fecha{
  margin-bottom: 4px;
  font-weight: 500;
  margin-top: 7px;
  color: #ffffff;
}

.img_articulo_2 {
  display: flex;
  width: 100%;
  height: 353px;
}

@media only screen and (max-width: 414px) {
  .img_articulo_2 {
    height: 200px;
  }
}

.img_articulo_2 img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.articulo_2_titulo {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 0;
  color: #ffffff;
}

.articulo_2_subtitulo {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.articulo_2_fecha{
  margin-bottom: 4px;
  font-weight: 500;
  margin-top: 7px;
  color: #ffffff;
}

/* A B O U T - M E */

.font_about_me {
  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1.5px;
  padding-right: 47px;
  margin-bottom: 35px;
  padding-top: 15px;
}

@media screen and (max-width: 858px) {
  .font_about_me {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 43px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 375px) {
  .font_about_me {
    font-size: 39px;
    letter-spacing: -0.5px;
    line-height: 39px;
    padding-right: 25px;
  }
}

.font_about-me_subt {
  font-size: 27px;
  font-weight: 500;
  line-height: 36px;
  padding-right: 20px;
}



.contenedor_img_about {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 65px;
}

.contenedor_img_about img {
  object-fit: cover;
  width: 100%;
  min-height: 300px;
  border-radius: 6px;
 }

 @media screen and (max-width: 1110px) {
  .contenedor_img_about {
    padding-right: 20px;
   }
}
  
/* SÉ LO QUE BUSCAS */
.contenedor_seloquebuscas {
  margin-top: 110px;
}

.fondo_slqb {
  background-color: #263040;
  border-top-left-radius: 6px;
  border-top-right-radius: 155px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 6px;
  padding: 10px 20px 15px 20px;
  margin-right: 20px;
}

.icono_slqb {
  font-size: 75px;
  float: right;
  margin-top: -20px;
}

.numero_slqb {
  font-size: 55px;
  font-weight: 900;
  color: #4e77f9;
}

.text_slqb {
  font-size: 32px;
  font-weight: 600;
  padding-right: 73px;
  line-height: 32px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.marca-txt {
  background-color: #ffc83d;
  color: #1b222d;
  font-weight: 700;
}
