*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(180deg, #fff 6%, #eef7ff 70%);
  color: #1b222d;
}

.menu {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

@media screen and (max-width: 1110px) {
  .menu {
    padding-left: 20px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    margin-top: 20px;
  }
}

@media screen and (min-width: 859px) and (max-width: 1110px) {
  .menu {
    padding-right: 10px;
  }
}

.logo_flex {
  display: inline-flex;
}

.logo_nav {
  width: 56px;
  height: 56px;
  border-radius: 50px;
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 0;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 0px;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #4e77f9;
  font-weight: 600;
}

.menu_items li a:hover,
a.active {
  border-radius: 3px;
  transition: 0.3s;
  text-decoration-color: currentColor;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
  text-underline-position: under;
}

.menu_items li a.active {
  color: #1b222d;
}

.btn_menu {
  margin-right: 20px;
  font-size: 28px;
  color: #1b222d;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }
  .menu_items li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #c2c2c3;
    top: -100vh;
    text-align: center;
    transition: all 0.3s;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .menu_items li a:hover {
    color: aqua;
  }
  .logo {
    font-size: 25px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .menu_items li {
    margin: 5px 0 0 0;
    line-height: 30px;
  }
  .menu_items {
    overflow: scroll;
    height: calc(100% - 65px);
  }
}

.bg-navbar {
  background-color: rgb(8, 83, 112);
}

/* P O R T A D A */
.contenedor_portada {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 190px;
  margin-top: 95px;
}
.portada {
  display: flex;
  flex-wrap: wrap;
}

.portada_65 {
  flex: 0 0 auto;
  width: 70%;
}

.portada_35 {
  flex: 0 0 auto;
  width: 30%;
  margin-top: 8px;
}

.font_portada {
  font-weight: 650;
  font-size: 120px;
  line-height: 99px;
  letter-spacing: -5px;
  padding-right: 46px;
  margin-bottom: 0px;
}

.descripcion_sub {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 37px;
  line-height: 23px;
  padding-right: 40px;
}

.descripcion {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  padding-right: 40px;
}

button.boton_1 {
  padding: 13px 35px;
  border-radius: 30px;
  background: linear-gradient(90deg, #4e77f9 6%, #6ba9f9 70%);
  transition: box-shadow 350ms ease, transform 350ms ease,
    -webkit-transform 350ms ease;
  color: #ffffff;
  font-size: 18px;
  line-height: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.15s;
  border: none;
}

button.boton_1:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.link {
  text-decoration: none;
  color: #fff;
}

.linea {
  margin-top: 20px;
  height: 8px;
  width: 70px;
  background-color: #4e77f9;
}

@media screen and (max-width: 1110px) {
  .contenedor_portada {
    padding-left: 20px;
  }
}

@media screen and (max-width: 858px) {
  .contenedor_portada {
    margin-top: 65px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 858px) {
  .portada {
    display: block;
  }
  .portada_65 {
    width: 100%;
  }
  .portada_35 {
    width: 100%;
    padding-top: 25px;
    padding-right: 20px;
  }
  .font_portada {
    font-size: 85px;
    letter-spacing: -3px;
    line-height: 78px;
  }
}

@media screen and (max-width: 375px) {
  .contenedor_portada {
    margin-top: 50px;
  }
  .portada_35 {
    width: 100%;
    padding-top: 25px;
    padding-right: 20px;
  }
  .font_portada {
    font-size: 75px;
    letter-spacing: -3px;
    line-height: 65px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1129px) {
  .glider-track {
    width: 1284px !important;
  }
}

@media screen and (min-width: 701px) and (max-width: 950px) {
  .glider-track {
    width: 1190px !important;
  }
}


/* S E R V I C I O S */

.contenedor_servicios {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 75px;
}

.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #000;
  opacity: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  box-shadow: 0 0 0 1px rgb(127 127 127 / 5%), 0 2px 5px rgb(127 127 127 / 50%);
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
  width: 40px;
  height: 40px;
}

.carousel__anterior {
  left: 27px;
  z-index: 20;
}

.carousel__siguiente {
  right: 27px;
}

.carousel__lita {
  overflow: hidden;
}

@media screen and (min-width: 1089px) {
  .carousel__anterior,
  .carousel__siguiente {
    display: none;
  }
}

.servicios--title {
  text-align: center;
  color: #4e77f9;
  font-size: 30px;
  font-size: 37px;
  margin-bottom: 22px;
}

.elemento__artista {
  width: 239px;
  height: 284px;
  display: block;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: -11px 11px 16px rgb(0 0 0 / 3%);
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.carousel__a {
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

.caja_servicio {
  padding: 20px;
}

.titulo_servicio {
  margin-top: 10px;
}

.parrafo_servicio {
  margin-top: 10px;
  font-weight: 500;
}

/* F I N - S E R V I C I O S */


.headermenumobile{
  height:70px;
  padding:20px;
}

.menuburger img{
  width:40px;
  cursor: pointer;
}

.menuhilang{
  display: none;
}
.menumuncul{
  display: block;
}

.menumobile{
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  height:100%;
  z-index: 9;
  display: none;
}

.menumobile a{
  text-decoration: none;
  color:#082431;
  font-size: 40px;
  line-height: 40px;
  padding:20px 0px;
  display: block;
  opacity:0.6;
}

.menumobile a.active{
  opacity:1;
}

.positionmenu{
  margin-top:50px;
}

@media only screen and (max-width: 858px) {
  .menuhilang{
      display: block;
      padding-right: 20px;
  }
  .menumuncul{
      display: none;
  }

  .headerarea{
      height:70px;
      padding:20px;
  }
}

.logoplacement {
  float: left;
}

.logo_mobile {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  margin-top: 4px;
}

.menuburger {
  float: right;
  margin-top: 4px;
  margin-top: 13px;
}
